################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/x64/Release
/.vs/BuildCraft
/imgui.ini
/x64/Debug
